/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"); */
@import "tailwindcss";
/* @plugin "daisyui"; */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}

/* Custom Styles for Swiper Navigation Buttons */
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 75%);
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

/* Right Button - Next */
.swiper-button-next {
  right: 4%; /* Position on the right side */
}

/* Left Button - Previous */
.swiper-button-prev {
  left: 4%; /* Position on the left side */
}

/* Hover Effect */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #7ad6b4; /* Background on hover */
  color: #333; /* Change icon color on hover */
}

/* Focus and Active States */
.swiper-button-next:focus,
.swiper-button-prev:focus,
.swiper-button-next:active,
.swiper-button-prev:active {
  outline: none; /* Remove default focus outline */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a soft shadow when focused/active */
}
